Repository chance-get-yours/moirae: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

add ci config
  .github/workflows/ci.yml
  .swcrc
  common/config/rush/pnpm-lock.yaml
  jest.config.js
  jest.setup.js
  moirae/core/.npmignore
  moirae/core/package.json
  moirae/node-plugin/package.json
  moirae/rabbitmq/package.json
  moirae/redis/package.json
  moirae/typeorm/package.json
Due: prettier --write

documentation is mostly there
  .github/workflows/ci.yml
  .gitignore
  common/autoinstallers/typedoc/package.json
  common/autoinstallers/typedoc/pnpm-lock.yaml
  common/config/rush/command-line.json
  moirae/core/package.json
  moirae/rabbitmq/testing/channel.mock.ts
  moirae/rabbitmq/testing/connection.mock.ts
  moirae/rabbitmq/tsconfig.json
  moirae/redis/testing/connection.mock.ts
  moirae/redis/tsconfig.json
  moirae/typeorm/package.json
  moirae/typeorm/testing/createMockRepository.ts
  moirae/typeorm/tsconfig.json
  typedoc.json
Due: eslint --fix, prettier --write

[dependabot skip] Fix yarn.lock
  yarn.lock
Due: none

fix nest start
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  demo/monolith/package.json
  demo/monolith/src/app.module.ts
  demo/monolith/src/app.service.ts
  moirae/node-plugin/package.json
  moirae/rabbitmq/package.json
  moirae/redis/package.json
  moirae/typeorm/package.json
  rush.json
Due: eslint --fix, prettier --write

monolith test:e2e
  demo/monolith/test/setup/initServer.js
  docker-compose.yml
  moirae/rabbitmq/index.ts
Due: eslint --fix, prettier --write

demo ci
  .github/workflows/ci.yml
  demo/monolith/package.json
  rush.json
Due: prettier --write

fix template
  .github/workflows/ci.yml
Due: none

fix testing dependencies
  moirae/rabbitmq/lib/providers/rabbit-pubsub.engine.spec.ts
  moirae/rabbitmq/lib/publishers/rabbitmq.publiser.spec.ts
  moirae/rabbitmq/tsconfig.json
  moirae/redis/lib/caches/redis.cache.spec.ts
  moirae/redis/tsconfig.json
  moirae/typeorm/lib/caches/typeorm.cache.spec.ts
  moirae/typeorm/lib/stores/typeorm.store.spec.ts
  moirae/typeorm/tsconfig.json
Due: eslint --fix, prettier --write

split out common from monolith
  .github/workflows/ci.yml
  common/config/rush/pnpm-lock.yaml
  demo/common/index.ts
  demo/common/package.json
  demo/common/src/exceptions/unique-contrstraint.error.ts
  demo/common/src/interfaces/dynamic-aggregate.interface.ts
  demo/common/tsconfig.json
  demo/monolith/package.json
  demo/monolith/src/user-management/aggregates/customer.aggregate.ts
  demo/monolith/src/user-management/aggregates/user.aggregate.ts
  rush.json
Due: eslint --fix, prettier --write

fix ci
  .github/workflows/ci.yml
Due: none

attempting e2e tests
  .github/workflows/ci.yml
  common/config/rush/pnpm-lock.yaml
  demo/account/package.json
  demo/common/package.json
  demo/gateway/index.ts
  demo/gateway/package.json
  demo/gateway/src/account.controller.ts
  demo/gateway/src/gateway.module.ts
  demo/gateway/src/moirae-ws.gateway.ts
  demo/monolith/package.json
  demo/monolith/src/app.module.ts
  demo/monolith/test/account.e2e-spec.ts
  demo/monolith/test/inventory.e2e-spec.ts
  demo/monolith/test/order.e2e-spec.ts
Due: eslint --fix, prettier --write

correct dependencies and fix builds
  common/config/rush/pnpm-lock.yaml
  demo/account/package.json
  demo/common/package.json
  demo/gateway/package.json
  demo/monolith/package.json
  demo/monolith/test/account.e2e-spec.ts
  moirae/core/package.json
  moirae/node-plugin/package.json
  moirae/rabbitmq/package.json
  moirae/redis/package.json
  moirae/typeorm/package.json
Due: eslint --fix, prettier --write

fix dependencies and add step to CI
  .github/workflows/ci.yml
  moirae/node-plugin/package.json
  moirae/rabbitmq/package.json
  moirae/redis/package.json
  moirae/typeorm/package.json
Due: prettier --write

add dependency check to CI
  .github/workflows/ci.yml
Due: none

fix faker
  moirae/rabbitmq/lib/publishers/rabbitmq.publiser.spec.ts
  moirae/rabbitmq/testing/channel.mock.ts
Due: eslint --fix, prettier --write

add e2e tests
  .github/workflows/ci.yml
Due: none

fix order e2e
  .github/workflows/ci.yml
  demo/account/src/queries/find-account-by-id.query.ts
  demo/inventory/src/handlers/find-inventory-by-id.handler.ts
  demo/inventory/src/queries/find-inventory-by-id.query.ts
  demo/monolith/test/order.e2e-spec.ts
Due: eslint --fix, prettier --write

add redis connection
  moirae/redis/lib/injector.ts
Due: eslint --fix, prettier --write

maintenance and publish ci
  .github/CODEOWNERS
  .github/workflows/npm-publish.yml
  .npmignore
  common/changes/@moirae/core/chore-rushjs-monorepo_2022-10-27-15-31.json
  common/changes/@moirae/node-plugin/chore-rushjs-monorepo_2022-10-27-15-31.json
  common/changes/@moirae/rabbitmq/chore-rushjs-monorepo_2022-10-27-15-31.json
  common/changes/@moirae/redis/chore-rushjs-monorepo_2022-10-27-15-31.json
  common/changes/@moirae/typeorm/chore-rushjs-monorepo_2022-10-27-15-31.json
  rush.json
Due: prettier --write

remove temp store
  .gitignore
Due: none

fix: jest dependencies
  common/config/rush/pnpm-lock.yaml
  demo/account/package.json
  demo/account/tsconfig.build.json
  demo/common/package.json
  demo/common/tsconfig.build.json
  demo/gateway/package.json
  demo/gateway/tsconfig.build.json
  demo/inventory/package.json
  demo/inventory/tsconfig.build.json
  demo/monolith/package.json
  moirae/core/lib/classes/saga.class.spec.ts
  moirae/core/package.json
  moirae/core/tsconfig.build.json
  moirae/core/tsconfig.json
  moirae/node-plugin/package.json
  moirae/node-plugin/tsconfig.build.json
  moirae/rabbitmq/package.json
  moirae/rabbitmq/tsconfig.build.json
  moirae/redis/package.json
  moirae/redis/tsconfig.build.json
  moirae/typeorm/package.json
  moirae/typeorm/tsconfig.build.json
  tsconfig.json
Due: eslint --fix, prettier --write

fix: jest dependencies (#141)
  common/config/rush/pnpm-lock.yaml
  demo/account/package.json
  demo/account/tsconfig.build.json
  demo/common/package.json
  demo/common/tsconfig.build.json
  demo/gateway/package.json
  demo/gateway/tsconfig.build.json
  demo/inventory/package.json
  demo/inventory/tsconfig.build.json
  demo/monolith/package.json
  moirae/core/lib/classes/saga.class.spec.ts
  moirae/core/package.json
  moirae/core/tsconfig.build.json
  moirae/core/tsconfig.json
  moirae/node-plugin/package.json
  moirae/node-plugin/tsconfig.build.json
  moirae/rabbitmq/package.json
  moirae/rabbitmq/tsconfig.build.json
  moirae/redis/package.json
  moirae/redis/tsconfig.build.json
  moirae/typeorm/package.json
  moirae/typeorm/tsconfig.build.json
  tsconfig.json
Due: eslint --fix, prettier --write

fix: monolith e2e tests
  demo/monolith/tsconfig.json
Due: prettier --write

fix document and ci
  .github/workflows/npm-publish.yml
  moirae/node-plugin/lib/busses/command.bus.spec.ts
  moirae/node-plugin/lib/busses/query.bus.spec.ts
  moirae/rabbitmq/lib/providers/rabbit-pubsub.engine.spec.ts
  moirae/rabbitmq/lib/publishers/rabbitmq.publiser.spec.ts
  typedoc.json
Due: eslint --fix, prettier --write

fix: publish commands
  .github/workflows/npm-publish.yml
  moirae/core/package.json
  moirae/node-plugin/package.json
  moirae/rabbitmq/package.json
  moirae/redis/package.json
  moirae/typeorm/package.json
Due: prettier --write

update lockfile
  common/config/rush/pnpm-lock.yaml
Due: none

chore: update dependencies for demo
  common/config/rush/pnpm-lock.yaml
  demo/monolith/package.json
Due: prettier --write

bump patch
  moirae/core/package.json
  moirae/node-plugin/package.json
  moirae/rabbitmq/package.json
  moirae/redis/package.json
  moirae/typeorm/package.json
Due: prettier --write

feat: add domain for feature part of moirae module
  moirae/core/lib/busses/command.bus.spec.ts
  moirae/core/lib/busses/command.bus.ts
  moirae/core/lib/busses/query.bus.spec.ts
  moirae/core/lib/busses/query.bus.ts
  moirae/core/lib/classes/domain-store.class.ts
  moirae/core/lib/interfaces/publisher-config.interface.ts
  moirae/core/lib/moirae.module.ts
Due: eslint --fix, prettier --write

feat: update rmq publisher
  moirae/core/index.ts
  moirae/core/lib/classes/base.publisher.ts
  moirae/core/lib/interfaces/publisher.interface.ts
  moirae/rabbitmq/lib/providers/rabbit-pubsub.engine.spec.ts
  moirae/rabbitmq/lib/publishers/rabbitmq.publisher.spec.ts
  moirae/rabbitmq/lib/publishers/rabbitmq.publisher.ts
  moirae/rabbitmq/testing/test-event.class.ts
Due: eslint --fix, prettier --write

demo: update configs for feature based domains
  demo/account/src/account.module.ts
  demo/account/src/commands/account-command.base.ts
  demo/account/src/commands/create-account.command.ts
  demo/account/src/commands/deposit-funds.command.ts
  demo/account/src/commands/rollback-account.command.ts
  demo/account/src/commands/withdraw-funds.command.ts
  demo/account/src/order/commands/create-order.command.ts
  demo/account/src/queries/account-query.base.ts
  demo/account/src/queries/find-account-by-id.query.ts
  demo/common/index.ts
  demo/common/src/common.constants.ts
  demo/inventory/src/commands/create-inventory.command.ts
  demo/inventory/src/commands/inventory-command.base.ts
  demo/inventory/src/commands/remove-inventory.command.ts
  demo/inventory/src/inventory.module.ts
  demo/inventory/src/queries/find-inventory-by-id.query.ts
  demo/inventory/src/queries/inventory-query.base.ts
  demo/monolith/test/setup/initServer.js
  moirae/node-plugin/lib/classes/moirae-plugin.class.ts
  moirae/node-plugin/lib/interfaces/moirae-plugin-config.interface.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,md,js,jsx,json}
