Repository chance-get-yours/moirae: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: cleanup and docs
  demo/gateway/src/account.controller.ts
  demo/gateway/src/inventory.controller.ts
  moirae/core/lib/busses/command.bus.ts
  moirae/core/lib/busses/query.bus.ts
  moirae/core/lib/interfaces/command.interface.ts
  moirae/core/lib/interfaces/event-like.interface.ts
  moirae/core/lib/interfaces/publisher-config.interface.ts
  moirae/core/lib/interfaces/query.interface.ts
  moirae/core/lib/interfaces/respondable.interface.ts
  moirae/core/lib/moirae.module.ts
  moirae/core/lib/publishers/memory.publisher.ts
  moirae/node-plugin/README.md
  moirae/node-plugin/lib/interfaces/moirae-plugin-config.interface.ts
Due: eslint --fix, prettier --write

versions and changelogs
  .github/workflows/ci.yml
  common/changes/@moirae/core/feat-for-feature_2022-11-09-11-43.json
  common/changes/@moirae/node-plugin/feat-for-feature_2022-11-09-11-43.json
  common/changes/@moirae/rabbitmq/feat-for-feature_2022-11-09-11-43.json
  moirae/core/package.json
  moirae/node-plugin/package.json
  moirae/rabbitmq/package.json
Due: prettier --write

fix ci
  .github/workflows/ci.yml
Due: none

fix tests
  demo/account/src/handlers/withdraw-funds.handler.ts
  demo/monolith/test/account.e2e-spec.ts
  moirae/core/lib/classes/aggregate-root.class.ts
Due: eslint --fix, prettier --write

alter behavior for event listeneing
  common/config/rush/pnpm-lock.yaml
  demo/monolith/test/account.e2e-spec.ts
  demo/monolith/test/inventory.e2e-spec.ts
  moirae/core/package.json
  moirae/node-plugin/package.json
  moirae/rabbitmq/lib/publishers/rabbitmq.publisher.ts
  moirae/rabbitmq/package.json
  moirae/typeorm/package.json
Due: eslint --fix, prettier --write

v0.6.0
  moirae/redis/package.json
  moirae/typeorm/package.json
Due: prettier --write

reinforce control flow and use of sagas, aggregate roots
  README.md
  moirae/core/README.md
Due: prettier --write

wip config docs
  moirae/core/README.md
Due: prettier --write

rework readme a little for core
  moirae/core/README.md
Due: prettier --write

Docs/refine core docs (#143)
  README.md
  moirae/core/README.md
Due: prettier --write

settung up eventstoredb
  common/config/rush/pnpm-lock.yaml
  demo/monolith/package.json
  demo/monolith/src/app.module.ts
  docker-compose.yml
  moirae/core/index.ts
  moirae/core/lib/interfaces/store-config.interface.ts
  moirae/core/lib/moirae.constants.ts
  moirae/core/lib/moirae.module.ts
  moirae/eventstoredb/.npmignore
  moirae/eventstoredb/LICENSE
  moirae/eventstoredb/README.md
  moirae/eventstoredb/index.ts
  moirae/eventstoredb/lib/injector.ts
  moirae/eventstoredb/lib/interfaces/eventstore-config.interface.ts
  moirae/eventstoredb/lib/interfaces/eventstore-publisher-config.interface.ts
  moirae/eventstoredb/lib/providers/eventstoredb.connection.ts
  moirae/eventstoredb/lib/providers/eventstoredb.publisher.ts
  moirae/eventstoredb/lib/stores/eventstoredb.store.ts
  moirae/eventstoredb/package.json
  moirae/eventstoredb/tsconfig.build.json
  moirae/eventstoredb/tsconfig.json
  rush.json
Due: eslint --fix, prettier --write

feat: internal messenging service
  moirae/core/lib/classes/base.message.ts
  moirae/core/lib/messenger/messenger.service.spec.ts
  moirae/core/lib/messenger/messenger.service.ts
Due: eslint --fix, prettier --write

feat: basic bus messages
  moirae/core/index.ts
  moirae/core/lib/busses/command.bus.spec.ts
  moirae/core/lib/busses/command.bus.ts
  moirae/core/lib/busses/event.bus.spec.ts
  moirae/core/lib/busses/event.bus.ts
  moirae/core/lib/busses/query.bus.spec.ts
  moirae/core/lib/busses/query.bus.ts
  moirae/core/lib/messenger/messages/base.message.ts
  moirae/core/lib/messenger/messages/command-bus-ready.message.ts
  moirae/core/lib/messenger/messages/event-bus-ready.message.ts
  moirae/core/lib/messenger/messages/index.ts
  moirae/core/lib/messenger/messages/query-bus-ready.message.ts
  moirae/core/lib/messenger/messenger.service.spec.ts
  moirae/core/lib/messenger/messenger.service.ts
  moirae/core/lib/moirae.module.ts
Due: eslint --fix, prettier --write

feat: add rabbitmq lifecycle messages
  moirae/rabbitmq/index.ts
  moirae/rabbitmq/lib/messages/index.ts
  moirae/rabbitmq/lib/messages/rabbitmq-connection-closed.message.ts
  moirae/rabbitmq/lib/messages/rabbitmq-connection-error.message.ts
  moirae/rabbitmq/lib/messages/rabbitmq-connection-opened.message.ts
  moirae/rabbitmq/lib/messages/rabbitmq-connection-reopened.message.ts
  moirae/rabbitmq/lib/providers/rabbit-pubsub.engine.spec.ts
  moirae/rabbitmq/lib/providers/rabbit-pubsub.engine.ts
  moirae/rabbitmq/lib/providers/rabbitmq.connection.ts
  moirae/rabbitmq/lib/publishers/rabbitmq.publisher.spec.ts
  moirae/rabbitmq/lib/publishers/rabbitmq.publisher.ts
Due: eslint --fix, prettier --write

feat: update node plugin
  moirae/node-plugin/lib/busses/command.bus.spec.ts
  moirae/node-plugin/lib/busses/command.bus.ts
  moirae/node-plugin/lib/busses/query.bus.spec.ts
  moirae/node-plugin/lib/busses/query.bus.ts
  moirae/node-plugin/lib/classes/moirae-plugin.class.ts
Due: eslint --fix, prettier --write

fix: order of operations on rabbitmq lifecycle events
  moirae/rabbitmq/lib/providers/rabbitmq.connection.ts
Due: eslint --fix, prettier --write

fix: demo e2e server
  demo/monolith/test/setup/initServer.js
  docker-compose.yml
  moirae/node-plugin/lib/classes/moirae-plugin.class.ts
  moirae/node-plugin/lib/interfaces/moirae-plugin-config.interface.ts
Due: eslint --fix, prettier --write

fix elements of connection
  demo/inventory/src/handlers/find-inventory-by-id.handler.ts
  moirae/rabbitmq/lib/providers/rabbitmq.connection.ts
Due: eslint --fix, prettier --write

fix: publisher listener
  moirae/rabbitmq/lib/providers/rabbitmq.connection.ts
  moirae/rabbitmq/lib/publishers/rabbitmq.publisher.ts
Due: eslint --fix, prettier --write

Feat/internal messenger (#144)
  demo/inventory/src/handlers/find-inventory-by-id.handler.ts
  demo/monolith/test/setup/initServer.js
  docker-compose.yml
  moirae/core/index.ts
  moirae/core/lib/busses/command.bus.spec.ts
  moirae/core/lib/busses/command.bus.ts
  moirae/core/lib/busses/event.bus.spec.ts
  moirae/core/lib/busses/event.bus.ts
  moirae/core/lib/busses/query.bus.spec.ts
  moirae/core/lib/busses/query.bus.ts
  moirae/core/lib/messenger/messages/base.message.ts
  moirae/core/lib/messenger/messages/command-bus-ready.message.ts
  moirae/core/lib/messenger/messages/event-bus-ready.message.ts
  moirae/core/lib/messenger/messages/index.ts
  moirae/core/lib/messenger/messages/query-bus-ready.message.ts
  moirae/core/lib/messenger/messenger.service.spec.ts
  moirae/core/lib/messenger/messenger.service.ts
  moirae/core/lib/moirae.module.ts
  moirae/node-plugin/lib/busses/command.bus.spec.ts
  moirae/node-plugin/lib/busses/command.bus.ts
  moirae/node-plugin/lib/busses/query.bus.spec.ts
  moirae/node-plugin/lib/busses/query.bus.ts
  moirae/node-plugin/lib/classes/moirae-plugin.class.ts
  moirae/node-plugin/lib/interfaces/moirae-plugin-config.interface.ts
  moirae/rabbitmq/index.ts
  moirae/rabbitmq/lib/messages/index.ts
  moirae/rabbitmq/lib/messages/rabbitmq-connection-closed.message.ts
  moirae/rabbitmq/lib/messages/rabbitmq-connection-error.message.ts
  moirae/rabbitmq/lib/messages/rabbitmq-connection-opened.message.ts
  moirae/rabbitmq/lib/messages/rabbitmq-connection-reopened.message.ts
  moirae/rabbitmq/lib/providers/rabbit-pubsub.engine.spec.ts
  moirae/rabbitmq/lib/providers/rabbit-pubsub.engine.ts
  moirae/rabbitmq/lib/providers/rabbitmq.connection.ts
  moirae/rabbitmq/lib/publishers/rabbitmq.publisher.spec.ts
  moirae/rabbitmq/lib/publishers/rabbitmq.publisher.ts
Due: eslint --fix, prettier --write

create e2e testing module
  common/config/rush/pnpm-lock.yaml
  demo/account/package.json
  demo/common/package.json
  demo/e2e-testing/package.json
  demo/e2e-testing/setup/initServer.js
  demo/e2e-testing/setup/jest.config.js
  demo/e2e-testing/setup/teardownServer.js
  demo/e2e-testing/tests/health.spec.ts
  demo/e2e-testing/tsconfig.json
  demo/gateway/package.json
  demo/inventory/package.json
  demo/monolith/package.json
  moirae/core/package.json
  moirae/node-plugin/package.json
  moirae/rabbitmq/package.json
  moirae/redis/package.json
  moirae/typeorm/package.json
  rush.json
Due: eslint --fix, prettier --write

health check for second server
  common/config/rush/pnpm-lock.yaml
  demo/e2e-testing/package.json
  demo/e2e-testing/setup/initServer.js
  demo/e2e-testing/setup/jest.config.js
  demo/e2e-testing/tests/health.spec.ts
Due: eslint --fix, prettier --write

feat: testable monotlith boots
  common/config/rush/pnpm-lock.yaml
  demo/account/package.json
  demo/e2e-testing/package.json
  demo/e2e-testing/setup/generate-app.ts
  demo/e2e-testing/tests/health.spec.ts
  demo/e2e-testing/tsconfig.json
  demo/gateway/package.json
  demo/gateway/src/gateway.module.ts
  demo/gateway/src/health.controller.ts
  demo/inventory/package.json
  demo/monolith/package.json
Due: eslint --fix, prettier --write

port account tests
  common/config/rush/pnpm-lock.yaml
  demo/e2e-testing/package.json
  demo/e2e-testing/tests/account.spec.ts
  demo/e2e-testing/tsconfig.json
  demo/e2e-testing/utilities/utils.ts
  demo/e2e-testing/utilities/ws-handler.ts
Due: eslint --fix, prettier --write

port inventory tests
  demo/e2e-testing/tests/inventory.spec.ts
  demo/e2e-testing/tests/node-plugin.spec.ts
  demo/monolith/test/account.e2e-spec.ts
Due: eslint --fix, prettier --write

port order tests
  demo/e2e-testing/tests/order.spec.ts
Due: eslint --fix, prettier --write

all e2e tests running as monolith
  common/config/rush/pnpm-lock.yaml
  demo/e2e-testing/package.json
  demo/e2e-testing/setup/generate-app.ts
  demo/saga/index.ts
  demo/saga/package.json
  demo/saga/src/saga.module.ts
  demo/saga/src/sagas/process-order.saga.ts
  demo/saga/tsconfig.build.json
  demo/saga/tsconfig.json
  rush.json
Due: eslint --fix, prettier --write

wip: need to figure out the domain store as it's causing conflicts
  common/config/rush/pnpm-lock.yaml
  demo/e2e-testing/package.json
  demo/e2e-testing/setup/generate-app.ts
  demo/e2e-testing/setup/moirae-config-generator.ts
  demo/e2e-testing/setup/test.ts
  demo/e2e-testing/tsconfig.json
  demo/gateway/src/gateway.module.ts
  demo/monolith/README.md
  demo/monolith/nest-cli.json
  demo/monolith/ormconfig.js
  demo/monolith/package.json
  demo/monolith/src/app.controller.spec.ts
  demo/monolith/src/app.controller.ts
  demo/monolith/src/app.service.ts
  demo/monolith/src/main.ts
  demo/monolith/src/secondary-app/queries/hello.query.ts
  demo/monolith/src/user-management/aggregates/customer.aggregate.spec.ts
  demo/monolith/src/user-management/aggregates/customer.aggregate.ts
  demo/monolith/src/user-management/aggregates/user.aggregate.spec.ts
  demo/monolith/src/user-management/aggregates/user.aggregate.ts
  demo/monolith/src/user-management/events/company-name-updated.event.ts
  demo/monolith/src/user-management/events/user-assigned-as-customer.event.ts
  demo/monolith/src/user-management/events/user-created.event.ts
  demo/monolith/src/user-management/interfaces/customer.interface.ts
  demo/monolith/src/user-management/interfaces/user.interface.ts
  demo/monolith/src/user-management/user-management.constants.ts
  demo/monolith/src/user-management/user-management.module.ts
  demo/monolith/test/app.e2e-spec.ts
  demo/monolith/test/inventory.e2e-spec.ts
  demo/monolith/test/jest-e2e.json
  demo/monolith/test/order.e2e-spec.ts
  demo/monolith/test/setup/initServer.js
  demo/monolith/test/setup/teardownServer.js
  demo/monolith/tsconfig.build.json
  demo/monolith/tsconfig.json
  moirae/rabbitmq/lib/publishers/rabbitmq.publisher.ts
  rush.json
Due: eslint --fix, prettier --write

domain setup for cluster running
  demo/e2e-testing/setup/initServer.js
  demo/gateway/src/gateway.module.ts
  demo/saga/src/saga.module.ts
  moirae/core/index.ts
  moirae/core/lib/busses/command.bus.spec.ts
  moirae/core/lib/busses/command.bus.ts
  moirae/core/lib/busses/event.bus.spec.ts
  moirae/core/lib/busses/query.bus.spec.ts
  moirae/core/lib/busses/query.bus.ts
  moirae/core/lib/classes/domain-store.class.ts
  moirae/core/lib/moirae.constants.ts
  moirae/core/lib/moirae.module.ts
  moirae/node-plugin/lib/busses/command.bus.spec.ts
  moirae/node-plugin/lib/busses/command.bus.ts
  moirae/node-plugin/lib/busses/query.bus.spec.ts
  moirae/node-plugin/lib/busses/query.bus.ts
  moirae/node-plugin/lib/classes/moirae-plugin.class.ts
  moirae/node-plugin/lib/interfaces/moirae-plugin-config.interface.ts
  moirae/rabbitmq/lib/publishers/rabbitmq.publisher.ts
Due: eslint --fix, prettier --write

functional distributed sagas
  moirae/core/lib/busses/command.bus.ts
  moirae/core/lib/classes/saga-manager.class.ts
  moirae/core/lib/classes/saga.class.spec.ts
  moirae/core/lib/classes/saga.class.ts
Due: eslint --fix, prettier --write

update ci
  .github/workflows/ci.yml
Due: none

fix rabbitmq testing
  moirae/rabbitmq/lib/publishers/rabbitmq.publisher.spec.ts
Due: eslint --fix, prettier --write

fix core tests
  moirae/core/lib/classes/saga.class.spec.ts
Due: eslint --fix, prettier --write

fix ci config
  .github/workflows/ci.yml
Due: none

remove bad sqlite test
  .github/workflows/ci.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,md,js,jsx,json}
